# Các file hệ thống
.DS_Store
Thumbs.db
desktop.ini

# Các thư mục và file không cần thiết
node_modules/
.vscode/
.idea/
*.log
*.tmp
*.bak
*.swp
*.zip
*.rar
*.tar.gz
*.7z

# Các file cấu hình cá nhân
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Các file build và cache
/build/
/dist/
/.cache/
